<mat-card  class="user-card">
  <h1>Estadisticas</h1>
  <mat-list>
      <h3 mat-subheader>Usuarios</h3>
      <table>
        <tr>
          <th>Correo</th>
          <th>Anagrama</th>
          <th>PPT</th>
          <th>Agilidad</th>
          <th>Adivina</th>
          <th>Sorpresa</th>
        </tr>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.correo}}</td>
            <td> {{user.anagrama}} </td>
            <td> {{user.ppt}} </td>
            <td> {{user.agilidad}} </td>
            <td> {{user.adivina}} </td>
            <td> {{user.sorpresa}} </td>
        </tbody>
      </table>
    
  <button mat-flat-button [routerLink]="['/home']" style="margin-left:5px;background-color: crimson;">Volver</button>

  
