<form class="example-form">
    <mat-card  class="example-card">
        
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Correo" value="" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" value="" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    
      <button mat-flat-button (click)="MostrarLogin()">Login</button>
      <button style="margin-left:10px" mat-flat-button (click)="IrRegistro()">Registrate</button>
    </mat-card>
  </form>